name: GitHub Box

on:
  schedule:
    - cron: "0 */12 * * *" # every 24 hours
  push:
    branches: master

jobs:
  update-gist:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: tilwegener/github-data@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: ${{ secrets.GIST_ID }}
          CONSIDER_PRIVATE: false
